<div class="row padded-top">
  <div class="col-lg-12">
    <%= form_tag(recipes_path, method: :get) do %>
      <div class="input-group">
        <%= text_field_tag 'query', "", class: 'form-control',  placeholder: "Search for..." %>
        <span class="input-group-btn">
          <%= button_tag 'Search', class: "btn btn-custom" %>
        </span>
      </div>
    <% end %>
  </div>
</div>

<% if @recipes.present? %>
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Ingedients</th>
            <th>Image</th>
          </tr>
        </thead>
        <tbody>
          <% @recipes.each do |recipe| %>
          <tr>
            <td><%= link_to recipe['title'], recipe['href'] %></td>
            <td><%= recipe['ingredients'] %></td>
            <td><%= image_tag(recipe['thumbnail']) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>